{{#unless playlist.songs}}
  <h3 class="ui center aligned message">It's very quiet in here... start adding some games!</h3>
{{/unless}}


{{#if folder.games}}

<table class="ui fixed striped table">
  <thead>
    <tr>
      <th class="four wide">Game</th>
      <th class="four wide">Developer</th>
      <th class="three wide">Genre</th>
     
      <th class="one wide"> </th>
      <th class="one wide"> </th>
    </tr>
  </thead>
<tbody>
    {{#each folder.games}}
    <form class = "ui stacked segment form" action="/folder/{{../folder.id}}/updategame/{{id}}" method="POST">
    <tr class="fields">
      <td class="field">
        <span class="ui input">
         <input type="text" name="title" autofocus required title = "Please include a valid Title" placeholder="Title" value = "{{capitalise title}}">
        </span>
      </td>
      <td class="field">
        <span class="ui input">
          <input type="text" name="developer" required title = "Please include a valid developer" placeholder="Developer" value = "{{capitalise developer}}">
        </span>
      </td>
      <td class="field">
        <span class="ui input">
          <input type="text" name="genre" autofocus required title = "Please include a valid Genre" placeholder="Genre" value = "{{capitalise genre}}">         
        </span>
      </td>
      
      <td class="center aligned">
        <button class="ui submit icon button"><i class="icon pencil alternate"></i></button>
      </td>
      <td class="center aligned">
        <a href="/folder/{{../folder.id}}/deletegame/{{id}}" class="ui icon button delgame">
          <i class="icon trash"></i>
        </a>
      </td>
    </tr>
    </form> 
    {{/each}}
  </tbody>
</table>

<p>
  <span id="rating"> </span>
</p>

<button class="ui blue button" onclick="getRating()">
  Rate it! <i class="star icon"></i>
</button>

{{/if}}